<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <div class="word-detail">
          <div class="word-detail-item word-detail-plain"><strong>{{word.plainText}}</strong></div>
          <div class="word-detail-item word-detail-ipa"><strong>{{word.ipaText}}</strong></div>
          <div class="word-detail-item word-detail-button"><button routerLink="{{word.id}}/edit" class="word-detail-item btn btn-primary">Edit</button></div>
          <div class="word-detail-item word-detail-button"><button (click)="onDelete()" class="word-detail-item btn btn-danger">Delete</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
